<table>
  <thead>
    <h1>To Do List</h1>
      <tr>
          <th>ToDo Item</th>
          <th>Delete</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in tc.listItems">
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>
      <td>
        <button ng-click="tc.remove(item.id)">Delete</button>
      </td>
  </tbody>
</table>
<input id="title" ng-model="tc.myItem.title">
<input id="description" ng-model="tc.myItem.description">
<button class="input" type="button" ng-click="tc.add()">Add</button>
